* text=auto !eol
mtx/CHANGES svn_keywords=Author+Date+Id+Revision
mtx/COMPATABILITY svn_keywords=Author+Date+Id+Revision
mtx/FAQ svn_keywords=Author+Date+Id+Revision
mtx/LICENSE svn_keywords=Author+Date+Id+Revision
mtx/LICENSE.html svn_keywords=Author+Date+Id+Revision
mtx/Makefile.in svn_keywords=Author+Date+Id+Revision
mtx/README svn_keywords=Author+Date+Id+Revision
mtx/README.win32 svn_keywords=Author+Date+Id+Revision
mtx/TODO svn_keywords=Author+Date+Id+Revision
mtx/build.win32 -text
mtx/config.guess svn_keywords=Author+Date+Id+Revision
mtx/config.h.in svn_keywords=Author+Date+Id+Revision
mtx/config.sub svn_keywords=Author+Date+Id+Revision
mtx/configure svn_keywords=Author+Date+Id+Revision
mtx/configure.in svn_keywords=Author+Date+Id+Revision
mtx/contrib/MTX.html svn_keywords=Author+Date+Id+Revision
mtx/contrib/README svn_keywords=Author+Date+Id+Revision
mtx/contrib/TapeChanger-MTX-0.71b.tar.gz -text
mtx/contrib/config_sgen_solaris.sh svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtx-changer svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtx.py svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtxctl-0.0.2.tar.gz -text
mtx/contrib/qdback.tar.gz -text
mtx/contrib/tapechanger.html svn_keywords=Author+Date+Id+Revision
mtx/contrib/tapeinfo.py svn_keywords=Author+Date+Id+Revision
mtx/contrib/tapeload.pl svn_keywords=Author+Date+Id+Revision
mtx/contrib/tapeunload.pl svn_keywords=Author+Date+Id+Revision
mtx/du/defs.h svn_keywords=Author+Date+Id+Revision
mtx/du/scsi.cpp svn_keywords=Author+Date+Id+Revision
mtx/install-sh svn_keywords=Author+Date+Id+Revision
mtx/loaderinfo.1 svn_keywords=Author+Date+Id+Revision
mtx/loaderinfo.cpp svn_keywords=Author+Date+Id+Revision
mtx/makedist svn_keywords=Author+Date+Id+Revision
mtx/mam2debug.cpp svn_keywords=Author+Date+Id+Revision
mtx/mam2debug2.cpp svn_keywords=Author+Date+Id+Revision
mtx/msvc/config.h svn_keywords=Author+Date+Id+Revision
mtx/msvc/loaderinfo/loaderinfo.vcproj svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/msvc/mtx.sln svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/msvc/mtx/mtx.vcproj svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/msvc/nsmhack/nsmhack.vcproj svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/msvc/scsieject/scsieject.vcproj -text
mtx/msvc/scsitape/scsitape.vcproj svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/msvc/tapeinfo/tapeinfo.vcproj svn_keywords=Author+Date+Id+Revision eol=crlf
mtx/mtx.1 svn_keywords=Author+Date+Id+Revision
mtx/mtx.cpp svn_keywords=Author+Date+Id+Revision
mtx/mtx.doc svn_keywords=Author+Date+Id+Revision
mtx/mtx.h svn_keywords=Author+Date+Id+Revision
mtx/mtx.spec.in svn_keywords=Author+Date+Id+Revision
mtx/mtxl.README.html svn_keywords=Author+Date+Id+Revision
mtx/mtxl.cpp svn_keywords=Author+Date+Id+Revision
mtx/mtxl.h svn_keywords=Author+Date+Id+Revision
mtx/nsmhack.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_aix.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_freebsd.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_hpux.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_linux.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_sgi.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_sun.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsi_win32.cpp svn_keywords=Author+Date+Id+Revision
mtx/scsieject.1 svn_keywords=Author+Date+Id+Revision
mtx/scsieject.cpp -text
mtx/scsitape.1 svn_keywords=Author+Date+Id+Revision
mtx/scsitape.cpp svn_keywords=Author+Date+Id+Revision
mtx/sg_err.cpp svn_keywords=Author+Date+Id+Revision
mtx/sg_err.h svn_keywords=Author+Date+Id+Revision
mtx/tapeinfo.1 svn_keywords=Author+Date+Id+Revision
mtx/tapeinfo.cpp svn_keywords=Author+Date+Id+Revision
mtx/vms/000readme svn_keywords=Author+Date+Id+Revision
mtx/vms/build.com svn_keywords=Author+Date+Id+Revision
mtx/vms/defs.h svn_keywords=Author+Date+Id+Revision
mtx/vms/descrip.mms svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrset.cld svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrset.cpp svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrutil.mar svn_keywords=Author+Date+Id+Revision
mtx/vms/scsi.cpp svn_keywords=Author+Date+Id+Revision
mtxweb/compatibility.php svn_keywords=Author+Date+Id+Revision
mtxweb/contrib.php svn_keywords=Author+Date+Id+Revision
mtxweb/dbms.sql svn_keywords=Author+Date+Id+Revision
mtxweb/dbms_inc_template.php svn_keywords=Author+Date+Id+Revision
mtxweb/detail.php svn_keywords=Author+Date+Id+Revision
mtxweb/dh-100x75.gif -text
mtxweb/dh-88x31.gif -text
mtxweb/faq-I.html svn_keywords=Author+Date+Id+Revision
mtxweb/faq-II.html svn_keywords=Author+Date+Id+Revision
mtxweb/faq-III.html svn_keywords=Author+Date+Id+Revision
mtxweb/faq.html svn_keywords=Author+Date+Id+Revision
mtxweb/index.html svn_keywords=Author+Date+Id+Revision
mtxweb/valid-xhtml10.png -text svneol=unset#image/png
mtxweb/verify.php svn_keywords=Author+Date+Id+Revision
