* text=auto !eol
mtx/CHANGES svn_keywords=Author+Date+Id+Revision
mtx/COMPATABILITY svn_keywords=Author+Date+Id+Revision
mtx/FAQ svn_keywords=Author+Date+Id+Revision
mtx/LICENSE svn_keywords=Author+Date+Id+Revision
mtx/LICENSE.html svn_keywords=Author+Date+Id+Revision
mtx/Makefile.in svn_keywords=Author+Date+Id+Revision
mtx/README svn_keywords=Author+Date+Id+Revision
mtx/TODO svn_keywords=Author+Date+Id+Revision
mtx/config.guess svn_keywords=Author+Date+Id+Revision
mtx/config.h svn_keywords=Author+Date+Id+Revision
mtx/config.h.in svn_keywords=Author+Date+Id+Revision
mtx/config.sub svn_keywords=Author+Date+Id+Revision
mtx/configure svn_keywords=Author+Date+Id+Revision
mtx/configure.in svn_keywords=Author+Date+Id+Revision
mtx/contrib/README svn_keywords=Author+Date+Id+Revision
mtx/contrib/config_sgen_solaris.sh svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtx-changer svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtx.py svn_keywords=Author+Date+Id+Revision
mtx/contrib/mtxctl-0.0.2.tar.gz -text
mtx/contrib/tapeinfo.py svn_keywords=Author+Date+Id+Revision
mtx/contrib/tapeload.pl svn_keywords=Author+Date+Id+Revision
mtx/contrib/tapeunload.pl svn_keywords=Author+Date+Id+Revision
mtx/du/defs.h svn_keywords=Author+Date+Id+Revision
mtx/du/scsi.c svn_keywords=Author+Date+Id+Revision
mtx/install-sh svn_keywords=Author+Date+Id+Revision
mtx/loaderinfo.1 svn_keywords=Author+Date+Id+Revision
mtx/loaderinfo.c svn_keywords=Author+Date+Id+Revision
mtx/makedist svn_keywords=Author+Date+Id+Revision
mtx/mam2debug.c svn_keywords=Author+Date+Id+Revision
mtx/mam2debug2.c svn_keywords=Author+Date+Id+Revision
mtx/mtx.1 svn_keywords=Author+Date+Id+Revision
mtx/mtx.c svn_keywords=Author+Date+Id+Revision
mtx/mtx.doc svn_keywords=Author+Date+Id+Revision
mtx/mtx.h svn_keywords=Author+Date+Id+Revision
mtx/mtx.spec svn_keywords=Author+Date+Id+Revision
mtx/mtx.spec.in svn_keywords=Author+Date+Id+Revision
mtx/mtxl.README.html svn_keywords=Author+Date+Id+Revision
mtx/mtxl.c svn_keywords=Author+Date+Id+Revision
mtx/mtxl.h svn_keywords=Author+Date+Id+Revision
mtx/scsi_aix.c svn_keywords=Author+Date+Id+Revision
mtx/scsi_freebsd.c svn_keywords=Author+Date+Id+Revision
mtx/scsi_hpux.c svn_keywords=Author+Date+Id+Revision
mtx/scsi_linux.c svn_keywords=Author+Date+Id+Revision
mtx/scsi_sgi.c svn_keywords=Author+Date+Id+Revision
mtx/scsi_sun.c svn_keywords=Author+Date+Id+Revision
mtx/scsitape.1 svn_keywords=Author+Date+Id+Revision
mtx/scsitape.c svn_keywords=Author+Date+Id+Revision
mtx/sparc-patch1 svn_keywords=Author+Date+Id+Revision
mtx/tapeinfo.1 svn_keywords=Author+Date+Id+Revision
mtx/tapeinfo.c svn_keywords=Author+Date+Id+Revision
mtx/vms/000readme svn_keywords=Author+Date+Id+Revision
mtx/vms/build.com svn_keywords=Author+Date+Id+Revision
mtx/vms/defs.h svn_keywords=Author+Date+Id+Revision
mtx/vms/descrip.mms svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrset.c svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrset.cld svn_keywords=Author+Date+Id+Revision
mtx/vms/ldrutil.mar svn_keywords=Author+Date+Id+Revision
mtx/vms/scsi.c svn_keywords=Author+Date+Id+Revision
