mtx/msvc/debug
mtx/msvc/loaderinfo/Debug
mtx/msvc/loaderinfo/Release
mtx/msvc/loaderinfo/loaderinfo.vcproj.THE-NELSONS.robert.user
mtx/msvc/mtx.ncb
mtx/msvc/mtx.suo
mtx/msvc/mtx/Debug
mtx/msvc/mtx/Release
mtx/msvc/mtx/mtx.vcproj.THE-NELSONS.robert.user
mtx/msvc/nsmhack/Debug
mtx/msvc/nsmhack/Release
mtx/msvc/nsmhack/nsmhack.vcproj.THE-NELSONS.robert.user
mtx/msvc/release
mtx/msvc/scsieject/Debug
mtx/msvc/scsieject/Release
mtx/msvc/scsieject/scsieject.vcproj.THE-NELSONS.robert.user
mtx/msvc/scsitape/Debug
mtx/msvc/scsitape/Release
mtx/msvc/scsitape/scsitape.vcproj.THE-NELSONS.robert.user
mtx/msvc/tapeinfo/Debug
mtx/msvc/tapeinfo/Release
mtx/msvc/tapeinfo/tapeinfo.vcproj.THE-NELSONS.robert.user
