* text=auto !eol
mtxweb/COMPATABILITY svn_keywords=Author+Date+Id+Revision
mtxweb/dbms.format svn_keywords=Author+Date+Id+Revision
mtxweb/dbms.sql svn_keywords=Author+Date+Id+Revision
mtxweb/index.html svn_keywords=Author+Date+Id+Revision
